<?xml version="1.0" encoding="utf-8" ?>
<!-- Sybase ASA iAnywhere Database driver settings. -->
<databaseDriver>
	<shortName>Sybase ASA iAnywhere(iAnywhere client)</shortName>
	<name>Sybase ASA iAnywhere Driver (ASA iAnywhere Client)</name>
	<databaseName>Sybase iAnywhere (ASA)</databaseName>
	<databaseShortName>Sybase ASA</databaseShortName>
	<assemblyFilename>SD.LLBLGen.Pro.DBDrivers.SybaseAsaDBDriver.dll</assemblyFilename>
	<namespace>SD.LLBLGen.Pro.DBDrivers.SybaseAsa</namespace>
	<className>SybaseAsaDBDriver</className>
	<driverID>3FABDE1A-21DF-4fcb-96FD-BBFA8F18B1EA</driverID>
	<dynamicQueryEngineNamespace>SD.LLBLGen.Pro.DQE.SybaseAsa</dynamicQueryEngineNamespace>
	<caseSensitiveElementNames>false</caseSensitiveElementNames>
</databaseDriver>
