<?xml version="1.0" encoding="utf-8" ?>
<!-- SAP SQL Anywhere (Sybase ASA) Database driver settings. -->
<databaseDriver>
	<shortName>SAP SQL Anywhere (Sybase ASA client)</shortName>
	<name>SAP SQL Anywhere Driver (Sybase ASA Client)</name>
	<databaseName>SAP SQL Anywhere (Sybase Adaptive Server Anywhere (ASA))</databaseName>
	<databaseShortName>SQL Anywhere</databaseShortName>
	<assemblyFilename>SD.LLBLGen.Pro.DBDrivers.SybaseAsaDBDriver.dll</assemblyFilename>
	<namespace>SD.LLBLGen.Pro.DBDrivers.SybaseAsa</namespace>
	<className>SybaseAsaDBDriver</className>
	<driverID>3FABDE1A-21DF-4fcb-96FD-BBFA8F18B1EA</driverID>
	<dynamicQueryEngineNamespace>SD.LLBLGen.Pro.DQE.SybaseAsa</dynamicQueryEngineNamespace>
	<caseSensitiveElementNames>false</caseSensitiveElementNames>
</databaseDriver>
